//Programmer:      Oliver Collins
//Language:        CSS
//Date:            03/16/2016

@-webkit-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes typing {
    from { width: 100% }
    to { width:0 }
}

@-moz-keyframes blink-caret {
    0%, 100% { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

h1 { 
    position: relative; 
    float: middle;
    font-size:150%;
}

h1 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: white; /* same as background */
    border-left: .1em solid black;
    
   
    box-sizing: border-box;
    
    -webkit-animation: typing 5s steps(22, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    
}



canvas {
  display: block;
   -moz-opacity:0.2; /* For older FF versions */
   -khtml-opacity:0.2;
   opacity:0.2;
   filter:alpha(opacity=20);
}

 body { 	
 	background:#000 url(http://78waves.com/bg.jpg);
}

.name h1 {
	font-size: 128px;
	font-family: 'Poiret One', cursive;
	color: #ffffff;
	text-align: center;
	position: relative;
	top: -465px;
	vertical-align: text-bottom;
}



