body {
	padding-left: 7.5%;
	padding-right: 7.5%;
}

.title {
	font-size: 30px;
	text-align: center;
}

.python_code {
	background-color: RGB(242,242,242);
	border: 1px solid #999;
	padding-left: 20px;
}

.how_it_works .htitle {
	font-size: 22px;
}

.sub_title{
	font-size: 22px;
}

.sieve {
	margin: auto;
	text-align: center;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}