/* Disable horizontal scrolling */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Intro Section */

.intro {
	background-color: #F5F5F5;
	padding-left: 5%;
	padding-bottom: 20px;
	padding-top: 40px;
	font-family: 'Quicksand', sans-serif;
}

.intro .name {
	font-size: 48px;
}

.intro .degree {
	font-size: 14px;
}

/* About Me Section */

.about-me {
	padding-left: 6%;
	font-family: 'Quicksand', sans-serif;
}

.about-me img {
	width: 200px;
	height: 240px;
}

.about-me .head {
	font-size: 18px;
}

.about-me .content {
	padding-top: 10px;
	font-size: 14px;
}

/* Footer */

.footer {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	position: absolute;
	bottom: 0px;
	right: 50px;
	padding-top: 20px;
	padding-left: 6%;
}

.footer p {
	word-spacing: 12px;
}